---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jhey made OG.">
  <main>
    <h1>This Page has a Custom OG image. Check it out.</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
